# Python Basics for Astronomy

In [1]:
#  print command or first comment

print ('hello world')

hello world

Comments

In [2]:
'''
this is another multi line comment
shown here
'''

'\nthis is another multi line comment\nshown here\n'

In [3]:
# frtrtttr
# dffdffdf
# selected command forward slash
# fds433443

2. Variables and Constants

3. f-strings

In [9]:
name_planet = 'Saturn'
moons_planet = 150
print(f"Planet {name_planet} has {moons_planet} Moons")

Planet Saturn has 150 Moons

User Input

In [14]:
user_name = input("enter your name.  ")
print(type(user_name))

enter your name.  mike
<class 'str'>

In [15]:
user_fav_number = input("enter your favorite number:  ")

enter your favorite number:  51

In [16]:
# display the variable and its type
print(user_fav_number)
print(type(user_fav_number))

51
<class 'str'>

6.  Data Type Conversion

In [26]:
# Commands to convert --> str(input), int (input), float(input)

# Convert a string data into an integer and float

str_to_int = int(user_fav_number)
print(str_to_int)
print(type(str_to_int))
print(type(user_fav_number))

str_to_float = float(user_fav_number)
print(str_to_float)
print(type(float))
print(type(user_fav_number))

51
<class 'int'>
<class 'str'>
51.0
<class 'type'>
<class 'str'>

In [33]:
# get user input of two different intergers and add them together

n1 = int(input ('give any integer number: ')) # # make sure you put int before the input
n2 = int(input('give one more integer: ')) # make sure you put int before the input
print(f"The sum of {n1} and {n2} is  {n1 + n2}")

give any integer number: 44
give one more integer: 33
The sum of 44 and 33 is  77

# 7 Control Flow

# for and while loops

# conditional statements

In [48]:
# range(start, end, skip)

range (1,11)
# for loops

#for index in [0,1,2,3,4]:
#  print(index)

for index in range(1,11,2):
   print(index)

1
3
5
7
9

In [55]:
# while loop


ct = 0
print('--- Type "quit" to exit ..')
while True:
  obj = input(f'Enter your favorite Celestial Object {ct+1}:  ')
  ct += 1
  if obj.lower()  == 'quit':
    break

--- Type "quit" to exit ..
Enter your favorite Celestial Object 1:  quit

8. Functions

In [57]:
# create a function to greet viewers of this section

def greet():
  print('Hey Astrophiles! ')

In [58]:
# Call the function

greet()

Hey Astrophiles!

In [59]:
# Define a function to greet a person whose name will be given as the imput

def greet_person(name):
  print(f'Hey {name}, I hope you are enjoying this session and learning a lot of things in PYthon')

In [60]:
# Call that function
greet_person('Mike')

Hey Mike, I hope you are enjoying this session and learning a lot of things in PYthon

In [61]:
# call function again with different name
greet_person('Mark')

Hey Mark, I hope you are enjoying this session and learning a lot of things in PYthon

In [63]:
# call function to greet anyone

greet_person('everyone')

Hey everyone, I hope you are enjoying this session and learning a lot of things in PYthon

In [64]:
# Posistional Arguments, Keyword Arguments

def greeting(name,msg):
  print(f'Hey {name}, {msg}!')

In [65]:
#. Call this function by placing the input argeuments in the same order while building it

greeting('Michael', 'Are you an Astrophile ? ')

Hey Michael, Are you an Astrophile ? !

In [66]:
# Call the function by shifting the positions of the arguments
greeting('Are you an Astrophile ?', "Mike")

Hey Are you an Astrophile ?, Mike!

In [67]:
# Call this function using keyword arguments

greeting(msg = 'Are you an Astrophile ?',name = "Mike")

Hey Mike, Are you an Astrophile ?!

In [69]:
# Default arguments

def greeting_with_default_args(name, msg= 'Welcome to this program'):
  print(f'Hey {name}, {msg}!')

In [70]:
# Call this function without passing msg arg
greeting_with_default_args('Mike')

Hey Mike, Welcome to this program!

In [80]:
# Create a function that will add, multiply, divide, or subtract two numbers

def basic_calc(n1,n2, operation):
  if operation.lower() == 'add':
    return n1+n2
  elif operation.lower() == 'subtract':
    return n1 - n2
  elif operation.lower() == 'multiply':
    return n1 * n2
  elif operation.lower() == 'divide':
    return n1 / n2
  else:
    print(f'operation input can either take: -add, multiply, subtract, or divide.  You gave: {operation}.  Try again'
    )

In [74]:
addition = basic_calc(2,3, 'add')
print(addition)

5

In [81]:
multiply = basic_calc(3,3, 'multiply')
print(multiply)

9

In [82]:
basic_calc(2,3, 'dffhgfjthjnfdgbdfgrer')

operation input can either take: -add, multiply, subtract, or divide.  You gave: dffhgfjthjnfdgbdfgrer.  Try again